<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Gym</title>
</head>

<body>
    <div id="alert-container"></div>

    <form class="container mx-auto" hx-post="/exercise" hx-swap="innerHTML" hx-target="#exercise-select"
        hx-on::after-request="this.reset()">
        <input type="text" name="name" placeholder="Exercise Name" class="input input-bordered w-full max-w-xs my-2" />
        <button class="btn btn-accent mx-1" type="submit">Add Exercise</button>
    </form>

    <form class="container mx-auto py-4" hx-post="/set" hx-swap="innerHTML" hx-target="#gym-sessions">
        <select class="select select-bordered w-full max-w-xs" name="exercise" id="exercise-select">
            <option disabled selected>Exercise</option>
            {{range .exercises}}
            <option value="{{ .ID }}">{{ .Name }}</option>
            {{end}}
        </select>
        <div class="my-2">
            <input type="number" name="weight" placeholder="Weight" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="my-2">
            <input type="number" name="reps" placeholder="Reps" class="input input-bordered w-full max-w-xs" />
        </div>
        <button type="submit" class="btn btn-accent">Add Set</button>
    </form>

    <div class="container mx-5" id="gym-sessions">
        {{range .gym_sessions}}
        <details class="collapse bg-base-200 my-2">
            <summary class="collapse-title text-xl font-medium">{{.DateString}}</summary>
            <div class="collapse-content">
                {{range $exercise, $sets := .Exercises}}
                <div class="container my-5">
                    <h3 class="font-small">{{$exercise}}</h3>
                    <div class="overflow-x-auto">
                        <table class="table table-md">
                            <thead>
                                <tr>
                                    <th>Set</th>
                                    <th>Weight</th>
                                    <th>Reps</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $index, $set := $sets}}
                                <tr>
                                    <td>{{$index}}</td>
                                    <td>{{ $set.Weight }}</td>
                                    <td>{{ $set.Reps }}</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{end}}
            </div>
        </details>
        {{end}}
    </div>
</body>

</html>